<div>
  <h1 class="sample-title">Angular Data Visualisation Client Side Paging</h1>
  <div class="container">
    <div class="paginator">
      <button title="Go to first page" (click)="firstPage()"><i class="fa fa-angle-double-left" aria-hidden="true"></i></button>
      <button title="Go to previous page" (click)="prevPage()"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
      <button title="Go to next page" (click)="nextPage()"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
      <button title="Go to last page" (click)="lastPage()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
    </div>
    <div class="row" *ngFor="let flower of flowersInPage">   
      <div>{{flower.Name}}</div>
      <div>{{flower.Description}}</div>
      <div>
        <img src="{{flower.ImagePath}}" alt="" width=100%> </div>
    </div>
  </div>
</div>
