.container {
  width: 100%;
  margin: 0 auto;
  background-color: white;
}

.paginator {
  text-align: center;
  padding-bottom: 1%;
}
.paginator > button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: transparent;
  font-size: 1.5em;
  outline: none;
  border: 3px solid transparent;
  color: #9e9e9e;
  cursor: pointer;
}

.paginator > button:hover {
  color: #263238;
}

.paginator > button:active {
  background-color: lightgrey;
  border: 3px solid silver;
}

.row {  
  padding: 1em 0;
  box-sizing: border-box;   
  background-color: white;
  
}

.description {
  display:flex;
}

.row > p {
  font-weight: bold;
  font-size: 1.2em;
  padding: 0 15px;
  box-sizing: border-box;
}
.description > p {
  width: 80%;
  text-align: justify;
  font-size:0.9em;
  padding: 0 15px;
  margin:0;
}
.description > div {
  width: 20%;
  padding: 0 1em;
  box-sizing: border-box;  
}
.description > div > img {
  border-radius: 3px;
}

