.container {
  width: 100%;
  margin: 0 auto;

}

.paginator {
  text-align: center;
  
}
.paginator > button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: transparent;
  font-size: 1.5em;
  outline: none;
  border: 3px solid transparent;
  color: #9e9e9e;
  cursor: pointer;
}

.paginator > button:hover {
  color: #263238;
}

.paginator > button:active {
  background-color: lightgrey;
  border: 3px solid silver;
}

.row {  
 
  box-sizing: border-box;   
  padding-bottom:2em;
  
}

.description {
  display:flex;
}

.row > p {
  font-weight: bold;
  font-size: 1.2em;
  padding: 0 15px 10px 15px;
  box-sizing: border-box;
  margin:0;
}

.description > p {
  width: 80%;
  text-align: justify;
  font-size:0.9em;
  padding: 0 15px;
  margin:0;
}
.description > div {
  width: 20%;
  padding: 0 1em;
  box-sizing: border-box;  
}
.description > div > img {
  border-radius: 3px;
}

.diego {background-color:blue;}

