body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #263238;
 background-color: transparent;
}
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

/*deeppurple-amber.css
indigo-pink.css
pink-bluegrey.css
purple-green.css
*/